/*
2B2E4A -main
E84545 -second
903749 - bg
53354A - text or else
*/



/* Google Font Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
  text-decoration: none;
}
.body{
  background-color: #282A35;
}
.tabs{
  position: absolute;
}
.tabs .tab-header{
  position: relative;
  background-color:#f5f5f5;
  display: flex;
  padding: 6px;
  left: 130px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.tabs .tab-header > div{
  font-size: 15px;
  letter-spacing: 0.6px;
  color: #888;
  text-align: center;

  position:relative;
  z-index: 2;
  cursor: pointer;
  padding: 15px;
  padding-top: 0px;
  padding-bottom: 6px;
}

.tabs .tab-header >div.active{
  color: #2d589e;
}
.tabs .tab-indicaters{
  position:absolute;
  background-color:#001537;
  top: 30px;
  left: calc(calc(25%) + 60px);
  height: 0px;
  /* width: calc(25%+25px); */
  width: 70px;
  padding: 0px 20px 3px 20px;
  border-radius: 8px;
}
.tabs .tab-body{
  position: relative;
  background-color: #282A35;
  width: 100%;
}

.tabs .tab-body >div{
  z-index: -1;
  width: 600px;
  height: 450px;
  background-color: #282A35;
  position: fixed;
  opacity: 0;
  /*transform: translateY(-10px);*/
  margin-top: -50px;
}

.tabs .tab-body >div.active{
  
  width: 100%;
  opacity: 1;
  top: 30px;
  transform: translateY(0px);
}


/* COMPONANT : run button */
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

.checkbox{
  position:relative;
  top: 185px;
  left: 40px;

  height: 80px;
  width: 240px;
  padding: 10px;
  display: flex;
  background: #fff;
  align-items: center;
  border-radius: 5px;
  box-shadow: 5px 5px 30px rgba(0,0,0,.2);
  justify-content: space-between;

}
.checkbox input{
  outline: none;
  height: 40px;
  width: 90px;
  border-radius: 50px;
  -webkit-appearance: none;
  position: relative;
  background: #e6e6e6;
  box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
  cursor: pointer;
  transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.checkbox input:checked{
  background: #1abc9c;
}
.checkbox input:before{
  position: absolute;
  content: "";
  left: 0;
  height: 100%;
  width: 40px;
  background: linear-gradient(#fff,#f2f2f2,#e6e6e6,#d9d9d9);
  box-shadow: 0 2px 5px rgba(0,0,0,.2);
  border-radius: 50px;
  transform: scale(0.85);
  transition: left 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
input:checked:before{
  left: 50px;
}
.checkbox .text:before{
  content: "idle";
  font-size: 25px;
  font-weight: 500;
  color: #bfbfbf;
  padding-right: 20px;
}
input:checked ~ .text:before{
  color: #1abc9c;
  font-size: 27px;
  content: "Mining";
}

/*-------------------BG-DESIGN--------------------------------------*/
.panel{
  position: relative;
  top: 295px;
  padding: 10px;
  padding-bottom: 2px;
  margin-left: 18px;
  width: 560px;
  height: 130px;
  border: 2px solid rgba(255, 255, 255, 0.452);
  border-radius: 6px;
}
.dis{
  top: 18PX;
  left: 260PX;
  width: 300px;
  position: relative;
  padding-left: 30px;
  border-left: 2px solid rgb(255, 255, 255);

}
.dis .mini{
  display: grid;
  grid-template-columns: 2fr 1fr;
  color: #d9d9d98c;
  grid-gap: 2px;
  font-size: 10px;
}
.dis .mini h2{
  font-size: 14px;
  margin-right: 0px;
}
.dis .mini h1{
  font-size: 14px;
  margin-left: -30px;
}
/*--------------------------------------------------------------------------*/

/*--------------------------END RUN BOX-----------------------------*/

.wallet-tab h1{
  position: fixed;
  top: 60px;
  color: red;
  font-size: 22px;
}