/* Google Font Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
 
}
.tabs{
  position: absolute;
}
.tabs .tab-header{
  position: relative;
  background-color:#f5f5f5;
  display: flex;
<<<<<<< HEAD
  align-items: center;
  flex-wrap: nowrap;
}
.sidebar li img{
  height: 45px;
  width: 45px;
  object-fit: cover;
  border-radius: 6px;
  margin-right: 10px;
}
.sidebar li.profile .name,
.sidebar li.profile .job{
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  white-space: nowrap;
}
.sidebar li.profile .job{
  font-size: 12px;
}
.sidebar .profile #log_out{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background: #1d1b31;
  width: 100%;
  height: 60px;
  line-height: 60px;
  border-radius: 0px;
  transition: all 0.5s ease;
}
.sidebar.open .profile #log_out{
  width: 50px;
  background: none;
}







.home-section{
  position: relative;
  background: #031344d2;
  min-height: 100vh;
  top: 0;
  left: 78px;
  width: calc(100% - 78px);
  transition: all 0.5s ease;
  z-index: 2;
}
.sidebar.open ~ .home-section{
  left: 250px;
  width: calc(100% - 250px);
}
.home-section .text{
  display: inline-block;
  color: #11101d;
  font-size: 25px;
  font-weight: 500;
  margin: 18px;
}

@media (max-width: 420px) {
  .sidebar li .tooltip{
    display: none;
  }
}

.cardbox{
  position: relative;
  width: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-gap: 20px;

}
.card {
  position: relative;
  padding: 30px;
  background-color: #1d1b31;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.80);
  border-radius: 10px;
  color: white;
  justify-content: space-between;
}
.card:hover{
  border-style: solid;
  border-color: rgb(255, 255, 255);
}
.iconBx {
  font-size: 50px;
  position: absolute;
  top: 24px;
  right: 25px;
  bottom: 6px;
}
.card .numbers{
  position: relative;
  color: white;
  font-size: 30px;
  padding-top: 0px;
}
.card .caedname{
  position: relative;
  color: white;
  font-size: 12px;
  padding-top: 10px;
=======
  padding: 6px;
  left: 130px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.tabs .tab-header > div{
  font-size: 15px;
  letter-spacing: 0.6px;
  color: #888;
  text-align: center;

  position:relative;
  z-index: 2;
  cursor: pointer;
  padding: 15px;
  padding-top: 0px;
  padding-bottom: 6px;
}

.tabs .tab-header >div.active{
  color: #2d589e;
}
.tabs .tab-indicaters{
  position:absolute;
  background-color:#001537;
  top: 30px;
  left: calc(calc(25%) + 60px);
  height: 0px;
  /* width: calc(25%+25px); */
  width: 70px;
  padding: 0px 20px 3px 20px;
  border-radius: 8px;
}
.tabs .tab-body{
  position: relative;
  background-color: #f5f5f5;
  width: 100%;
}

.tabs .tab-body >div{
  position: absolute;
  opacity: 0;
  top: -100%;
  /*transform: translateY(-10px);*/
}

.tabs .tab-body >div.active{
  width: 100%;
  opacity: 1;
  top: 30px;
  transform: translateY(0px);
}

.tabs .tab-body h1{
  width: 100%;
  color: aqua;
<<<<<<< HEAD
>>>>>>> >appearance changed
}
=======
}

/* COMPONANT : run button */
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

.checkbox{
  position:relative;
  top: 105px;
  left: 40px;

  height: 80px;
  width: 240px;
  padding: 10px;
  display: flex;
  background: #fff;
  align-items: center;
  border-radius: 5px;
  box-shadow: 5px 5px 30px rgba(0,0,0,.2);
  justify-content: space-between;
}
.checkbox input{
  outline: none;
  height: 40px;
  width: 90px;
  border-radius: 50px;
  -webkit-appearance: none;
  position: relative;
  background: #e6e6e6;
  box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
  cursor: pointer;
  transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.checkbox input:checked{
  background: #1abc9c;
}
.checkbox input:before{
  position: absolute;
  content: "";
  left: 0;
  height: 100%;
  width: 40px;
  background: linear-gradient(#fff,#f2f2f2,#e6e6e6,#d9d9d9);
  box-shadow: 0 2px 5px rgba(0,0,0,.2);
  border-radius: 50px;
  transform: scale(0.85);
  transition: left 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
input:checked:before{
  left: 50px;
}
.checkbox .text:before{
  content: "idle";
  font-size: 25px;
  font-weight: 500;
  color: #bfbfbf;
  padding-right: 20px;
}
input:checked ~ .text:before{
  color: #1abc9c;
  font-size: 27px;
  content: "Mining";
}

/*-------------------BG-DESIGN--------------------------------------*/
.panel{
  background-color: #001537;
  position: relative;
  top: 210px;
  padding: 10px;
  margin-left: 15px;
  width: 560px;
  height: 130px;
  border: 2px solid rgba(255, 255, 255, 0.452);
  border-radius: 6px;
}
.dis{
  top: 18PX;
  left: 90PX;
  width: 300px;
  position: relative;
  padding-left: 30px;
  border-left: 2px solid rgb(255, 255, 255);

}
.dis .mini{
  display: grid;
  grid-template-columns: 2fr 1fr;
  color: #d9d9d98c;
  grid-gap: 2px;
}

.dis .mini h2 , h1{
  font-size: 12px;
  left: 0px;
}
/*--------------------------------------------------------------------------*/

/*--------------------------END RUN BOX-----------------------------*/>>>>>>> button added
