@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    background-color: #393D48;
    padding: 0;
    margin: 0;
    font-family: "Poppins" , sans-serif;
    color: rgb(255, 255, 255);

 
}

.tile{
    width: 100%;
    height: 100%;
    position: relative;
}

/* animation line start */
.loding{
    position: fixed;
    margin-top: 150px;  /*  >>>>   adjest loading bar height*/
    width: 100%;
    height: 100%;
    padding: 0px;
}
.loding .line-box{
    bottom: 0px;
    width: 100%;
    height: 10px;
}
.loding .line-box .line{
    width: 100%;
    height: 10px;
    border-radius: 20px;
    background-color: #67D295;
    animation:  loading 2s forwards cubic-bezier(0,0,0,0);
}
@keyframes loading{
    0%{
        width: 0%;
    }
    100%{
        width: 100%;
    }
}
/* animation line end */
.logo {
    width: 200px;
    height: 10px;
    z-index: 2;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
.down{
    background-color: #393D48;
    position: absolute;

    color: rgba(155, 155, 155, 0.8);
    margin-top: 110px;     /*  >>>>   adjest status bar height*/
    display: flex;
    justify-content: space-between;
}
.down .ver{
    color: rgba(155, 155, 155, 0.8);
    margin-left: 60px;
    font-size: 10px;
    width: 100px;
    padding: 10px;
}
.down .dis{
    color: rgba(155, 155, 155, 0.8);
    padding: 10px;
    margin-top: -4px;
    margin-left: 0px;
    font-weight: 200;
    font-size: 12px;
    width: 100px;
}
.tile .head_dis{
    text-align: center;
    color: rgb(66, 216, 166);

    margin-top: 100px;
}
.tile .head_dis .header{
    color: rgb(255, 255, 255);
    font-size: 28px;
    font-weight: 800;
    font-style: italic;

}
.tile .head_dis .disc{
    color: rgb(66, 216, 166);
    font-size: 10px; 
    font-style: italic;
    border-top: 1px solid rgb(66, 216, 166);
   /* border-bottom: 1px solid rgb(66, 216, 166);*/

    padding-top: 5px;
    padding-bottom: 5px;
}
