body{
    /*background: #11101D;
*/
    background: rgba(38, 37, 37, 0.604);
}
.updide{
    background: none;
}
.form{
    width: 350px;
    position: relative;
}
.mini-widget{
    margin-top: 10px;
}

.form input{
    color: #595f6e;
    padding: 20px;
    border: none;
    width: 350px;
    border-bottom: 2px solid black;
    font-size: 16px;
    padding-bottom: 8px;
    padding-left: 8px;
}
.form .mini-widget{
    color: rgb(0, 0, 0);
    position: relative;
    bottom: 0px;
    left: 0%;
    width: 350px;
    height: 100%;
}