
*{
    margin: 0px;
    padding: 0px;
    background-color: white;
    font-family: sans-serif;
}
.container{
    background-color: beige;

}
.menu-section{
    background-color:rgba(0, 0, 0, 0.212);
    position: absolute;
    width:300px;
    height: 50px;
    display: flex;
    padding: 10px;
    padding-top: 5px;
    left: 230px;
    justify-content: center;
    align-items: center;
}
.nav-btn{
    padding: 5px;
    margin-right: 20px;
    z-index: 1;
    background-color: transparent;

}
.nav-btn:hover{
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 8px;
}
.menu-section h5{
    background-color: transparent;

}
.tabs{
    position: absolute;
    top: 50px;
    width: 100%;
    height: 421px;
    display: block;
    background-color: rgb(28, 86, 86);
}

.tab{
    position: relative;
    background-color: white;
    height: 410px;
    display: none;
    margin: 5px;
    border-radius: 8px;
}


/*SETTING PAGE*/

.left-pane{
    position: relative;
    padding: 10px;
    height: 350px;
    width: 330px;
    border-right: 2px solid rgba(0, 0, 0, 0.476);
    z-index: 1;
    top: 15px;
}
.right-pane{
    position: absolute;
    top: 0px;
    left: 340px;

    width: 430px;

}
.right-pane .heading{
    background-color: rgb(220, 138, 16);
    margin: 6px;
    text-align: right;
}
.right-pane h2{
    font-weight: 600;
    font-size: 40px;
}

/*dropdown*/
select {
    -webkit-appearance:none;
    -moz-appearance:none;
    -ms-appearance:none;
    appearance:none;
    outline:0;
    box-shadow:none;
    border:2px solid rgba(0, 0, 0, 0.144); ;
    
    /*background: #1ab092;*/
    background-image: none;
    flex: 1;
    padding: 0 .5em;
    color:#00000082;
    cursor:pointer;
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
    
}
select::-ms-expand {
    display: none;
}
.select {
    position: relative;
    display: flex;
    width: 300px;
    height: 50px;
    line-height: 3;
    background: #5c666456;
    overflow: hidden;
    border-radius: .25em;
    margin: 10px;
}
.select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    color: #2b2e2e78;
    cursor:pointer;
    pointer-events:none;
    transition:.25s all ease;
    margin-top: 0px;
}
.select:hover::after {
    /*color: #23b499;*/
}
.input-box{
    border: 2px solid rgba(0, 0, 0, 0.144);
    outline: none;
    padding: 8px;
    margin: 5px;
    margin-left: 10px;
    width: 280px;
    height: 30px;
}

/*HOME PAGE*/

.left-home-pane{
    background-color: aquamarine;
}